## ğŸ¡ë¶€ë™ì‚° ì‹¤ê±°ë˜ê°€ ì˜ˆì¸¡ ëŒ€íšŒğŸ‘¨â€ğŸ‘¨â€ğŸ‘§â€ğŸ‘¦

### ë¼ì´ë¸ŒëŸ¬ë¦¬ Import

In [10]:
# Visualization
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm
fe = fm.FontEntry(
    fname=r'/usr/share/fonts/truetype/nanum/NanumGothic.ttf', 
    name='NanumBarunGothic')                      
fm.fontManager.ttflist.insert(0, fe)            
plt.rcParams.update({'font.size': 10, 'font.family': 'NanumBarunGothic'}) 
plt.rc('font', family='NanumBarunGothic')
import seaborn as sns

# Utils
import pandas as pd
import numpy as np
from tqdm import tqdm
import pickle
import warnings;warnings.filterwarnings('ignore')

# Model
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics

import eli5
from eli5.sklearn import PermutationImportance

In [2]:
!pip install eli5==0.13.0

# í•œê¸€ í°íŠ¸ ì‚¬ìš©ì„ ìœ„í•œ ë¼ì´ë¸ŒëŸ¬ë¦¬
!apt-get install -y fonts-nanum

Requirement already satisfied: eli5==0.13.0 in /opt/conda/lib/python3.10/site-packages (0.13.0)
Requirement already satisfied: attrs>17.1.0 in /opt/conda/lib/python3.10/site-packages (from eli5==0.13.0) (23.1.0)
Requirement already satisfied: jinja2>=3.0.0 in /opt/conda/lib/python3.10/site-packages (from eli5==0.13.0) (3.1.2)
Requirement already satisfied: numpy>=1.9.0 in /opt/conda/lib/python3.10/site-packages (from eli5==0.13.0) (1.23.5)
Requirement already satisfied: scipy in /opt/conda/lib/python3.10/site-packages (from eli5==0.13.0) (1.11.3)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from eli5==0.13.0) (1.16.0)
Requirement already satisfied: scikit-learn>=0.20 in /opt/conda/lib/python3.10/site-packages (from eli5==0.13.0) (1.2.2)
Requirement already satisfied: graphviz in /opt/conda/lib/python3.10/site-packages (from eli5==0.13.0) (0.20.1)
Requirement already satisfied: tabulate>=0.7.7 in /opt/conda/lib/python3.10/site-packages (from eli5==0.13.0) (0.9.0)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.10/site-packages (from jinja2>=3.0.0->eli5==0.13.0) (2.1.1)
Requirement already satisfied: joblib>=1.1.1 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=0.20->eli5==0.13.0) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from scikit-learn>=0.20->eli5==0.13.0) (3.2.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv
Reading package lists... Done
Building dependency tree
Reading state information... Done
fonts-nanum is already the newest version (20180306-3).
0 upgraded, 0 newly installed, 0 to remove and 21 not upgraded.

### Stage 1. ë°ì´í„° í™•ì¸

In [2]:
# í˜„ì¬ Directory ê²½ë¡œë¥¼ í™•ì¸ í•©ë‹ˆë‹¤.

import os

print("Current Working Directory:", os.getcwd())

Current Working Directory: /data/ephemeral/home/ML1_DY/code

1. ë°ì´í„° ë¶ˆëŸ¬ì˜¤ê¸°

In [11]:
# í•„ìš”í•œ ë°ì´í„°ë¥¼ load í•˜ê² ìŠµë‹ˆë‹¤. ê²½ë¡œëŠ” í™˜ê²½ì— ë§ê²Œ ì§€ì •í•´ì£¼ë©´ ë©ë‹ˆë‹¤.

train_path = '../data/KOREAN_train4.csv'
test_path  = '../data/KOREAN_test4.csv'
subway_feature_path = '../data/subway_feature.csv'
bus_feature_path = '../data/bus_feature.csv'
sample_submission_path = '../data/sample_submission.csv'
train_geo_path = '../data/train_latlon_complete.csv'

dt_train = pd.read_csv(train_path)
dt_test = pd.read_csv(test_path)
dt_subway_feature = pd.read_csv(subway_feature_path)
dt_bus_feature = pd.read_csv(bus_feature_path)
dt_sample_submission = pd.read_csv(sample_submission_path)
dt_train_geo = pd.read_csv(train_geo_path)

In [12]:
# train data set ì˜ columnsë¥¼ í™•ì¸í•©ë‹ˆë‹¤.

dt_train.columns

Index(['ì‹œêµ°êµ¬', 'ë²ˆì§€', 'ì•„íŒŒíŠ¸ëª…', 'ì „ìš©ë©´ì ', 'ê³„ì•½ë…„ì›”', 'ê³„ì•½ì¼', 'ì¸µ', 'ê±´ì¶•ë…„ë„', 'ë„ë¡œëª…',
       'í•´ì œì‚¬ìœ ë°œìƒì¼', 'ê±°ë˜ìœ í˜•', 'ì¤‘ê°œì‚¬ì†Œì¬ì§€', 'k-ë‹¨ì§€ë¶„ë¥˜', 'k-ì„¸ëŒ€íƒ€ì…(ë¶„ì–‘í˜•íƒœ)', 'k-ë³µë„ìœ í˜•',
       'k-ë‚œë°©ë°©ì‹', 'k-ì „ì²´ë™ìˆ˜', 'k-ì „ì²´ì„¸ëŒ€ìˆ˜', 'k-ê±´ì„¤ì‚¬', 'k-ì‹œí–‰ì‚¬', 'k-ì—°ë©´ì ', 'k-ì£¼ê±°ì „ìš©ë©´ì ',
       'k-ì „ìš©ë©´ì ë³„ì„¸ëŒ€í˜„í™©60ì´í•˜', 'k-ì „ìš©ë©´ì ë³„ì„¸ëŒ€í˜„í™©6085ì´í•˜', 'k-85135ì´í•˜', 'k-135ì´ˆê³¼',
       'ì„¸ëŒ€ì „ê¸°ê³„ì•½ë°©ë²•', 'ê±´ì¶•ë©´ì ', 'ì£¼ì°¨ëŒ€ìˆ˜', 'ê¸°íƒ€ì˜ë¬´ì„ëŒ€1234', 'ë‹¨ì§€ì‹ ì²­ì¼', 'target', 'êµ¬', 'ë™',
       'ì „ì²´ì£¼ì†Œëª…', 'ë™ì•„íŒŒíŠ¸ëª…', 'ìœ ë™ì¸êµ¬', 'ì•„íŒŒíŠ¸ ì§€í•˜ì² ì—­ ê±°ë¦¬', '1ì°¨ì—­ì„¸ê¶Œ', '2ì°¨ì—­ì„¸ê¶Œ',
       'ì•„íŒŒíŠ¸ ë²„ìŠ¤ì •ë¥˜ì¥ ê±°ë¦¬', 'ì¢Œí‘œX', 'ì¢Œí‘œY', 'ì•„íŒŒíŠ¸ í•œê°•ëŒ€êµ ê±°ë¦¬', 'ì „ì„¸ê°€ìœ¨', 'ì „ì²´ê³„ì•½ì¼ì', 'ê¸ˆë¦¬',
       'ì‹¤ì§ˆgdp', 'ëª…ëª©gdp', 'í•™êµ°', 'ì¬ê°œë°œê°œìˆ˜', 'í•™ê¸‰ìˆ˜', 'ì—¬ë‹¹ë“í‘œìœ¨'],
      dtype='object')

In [13]:
dt_train

,ì‹œêµ°êµ¬,ë²ˆì§€,ì•„íŒŒíŠ¸ëª…,ì „ìš©ë©´ì,ê³„ì•½ë…„ì›”,ê³„ì•½ì¼,ì¸µ,ê±´ì¶•ë…„ë„,ë„ë¡œëª…,í•´ì œì‚¬ìœ ë°œìƒì¼,...,ì•„íŒŒíŠ¸ í•œê°•ëŒ€êµ ê±°ë¦¬,ì „ì„¸ê°€ìœ¨,ì „ì²´ê³„ì•½ì¼ì,ê¸ˆë¦¬,ì‹¤ì§ˆgdp,ëª…ëª©gdp,í•™êµ°,ì¬ê°œë°œê°œìˆ˜,í•™ê¸‰ìˆ˜,ì—¬ë‹¹ë“í‘œìœ¨
0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,658-1,ê°œí¬6ì°¨ìš°ì„±,79.97,201712,8,3,1987,ì–¸ì£¼ë¡œ 3,NaN,...,2823.131513,55.88,20171208,1.50,2.9,"474,957.90",8,0,29.393939,35.36
1,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,658-1,ê°œí¬6ì°¨ìš°ì„±,79.97,201712,22,4,1987,ì–¸ì£¼ë¡œ 3,NaN,...,2823.131513,55.88,20171222,1.50,2.9,"474,957.90",8,0,29.393939,35.36
2,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,658-1,ê°œí¬6ì°¨ìš°ì„±,54.98,201712,28,5,1987,ì–¸ì£¼ë¡œ 3,NaN,...,2823.131513,55.88,20171228,1.50,2.9,"474,957.90",8,0,29.393939,35.36
3,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,658-1,ê°œí¬6ì°¨ìš°ì„±,79.97,201801,3,4,1987,ì–¸ì£¼ë¡œ 3,NaN,...,2823.131513,54.42,20180103,1.50,2.9,"449,357.80",8,0,30.781250,35.36
4,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,658-1,ê°œí¬6ì°¨ìš°ì„±,79.97,201801,8,2,1987,ì–¸ì£¼ë¡œ 3,NaN,...,2823.131513,54.42,20180108,1.50,2.9,"449,357.80",8,0,30.781250,35.36
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1118817,ì„œìš¸íŠ¹ë³„ì‹œ ì€í‰êµ¬ êµ¬ì‚°ë™,382,ê°ˆí˜„í˜„ëŒ€,59.94,200707,12,11,1998,ì„œì˜¤ë¦‰ë¡œ21ê¸¸ 36,NaN,...,3026.913197,NaN,20070712,4.75,5.5,"275,865.80",2,0,NaN,53.69
1118818,ì„œìš¸íŠ¹ë³„ì‹œ ì€í‰êµ¬ êµ¬ì‚°ë™,382,ê°ˆí˜„í˜„ëŒ€,59.94,200708,25,10,1998,ì„œì˜¤ë¦‰ë¡œ21ê¸¸ 36,NaN,...,3026.913197,NaN,20070825,5.00,5.5,"275,865.80",2,0,NaN,53.69
1118819,ì„œìš¸íŠ¹ë³„ì‹œ ì€í‰êµ¬ êµ¬ì‚°ë™,382,ê°ˆí˜„í˜„ëŒ€,84.83,200708,31,20,1998,ì„œì˜¤ë¦‰ë¡œ21ê¸¸ 36,NaN,...,3026.913197,NaN,20070831,5.00,5.5,"275,865.80",2,0,NaN,53.69
1118820,ì„œìš¸íŠ¹ë³„ì‹œ ì€í‰êµ¬ êµ¬ì‚°ë™,382,ê°ˆí˜„í˜„ëŒ€,84.83,200709,15,8,1998,ì„œì˜¤ë¦‰ë¡œ21ê¸¸ 36,NaN,...,3026.913197,NaN,20070915,5.00,5.5,"275,865.80",2,0,NaN,53.69
1118821,ì„œìš¸íŠ¹ë³„ì‹œ ì¤‘êµ¬ ë¬µì •ë™,11-67,ë¬µì •,52.46,200701,10,5,1981,ì„œì• ë¡œ1ê¸¸ 34,NaN,...,2263.311037,NaN,20070110,4.50,4.9,"252,586.30",5,0,NaN,52.47

ê° column ì— ëŒ€í•œ ì…ë ¥ ê°’ì„ ì¶”ì¶œí•˜ê¸°

In [8]:
# ë°ì´í„°ì˜ ê° ì—´ì— ëŒ€í•œ ì…ë ¥ ê°’ ìœ í˜•, ì…ë ¥ ë°©ë²• ë° ê³ ìœ  ê°’ ìˆ˜ë¥¼ ì°¾ê¸° ìœ„í•œ ë°ì´í„° ë¶„ì„

# ìš”ì•½ ë°ì´í„°í”„ë ˆì„ ìƒì„±
summary = pd.DataFrame(columns=['ë³€ìˆ˜ ì´ë¦„', 'ì…ë ¥ ê°’ ì˜ˆì‹œ', 'ì…ë ¥ ë°©ë²•', 'ê³ ìœ  ê°’ì˜ ê°œìˆ˜'])

# ê° ì—´ì— ëŒ€í•œ ì •ë³´ë¥¼ ìˆ˜ì§‘í•˜ê¸° ìœ„í•´ ë°˜ë³µë¬¸ ì‹¤í–‰
for column in dt_train.columns:
    # ë°ì´í„° ìœ í˜•ê³¼ ë‚´ìš©ì„ ê¸°ë°˜ìœ¼ë¡œ ì…ë ¥ ë°©ë²•ì„ 'ìˆ˜ë™' ë˜ëŠ” 'ìë™'ìœ¼ë¡œ ì¶”ë¡ 
    if dt_train[column].dtype == 'object':
        input_method = 'ìˆ˜ë™'
    else:
        input_method = 'ìë™'

    # ìš”ì•½ ë°ì´í„°í”„ë ˆì„ì— í–‰ ì¶”ê°€
    summary = summary.append({
        'ë³€ìˆ˜ ì´ë¦„': column,
        'ì…ë ¥ ê°’ ì˜ˆì‹œ': dt_train[column].dropna().unique()[:5],  # ì²˜ìŒ 5ê°œì˜ ê³ ìœ  ë¹„ê²°ì¸¡ì¹˜ ì˜ˆì‹œ
        'ì…ë ¥ ë°©ë²•': input_method,
        'ê³ ìœ  ê°’ì˜ ê°œìˆ˜': dt_train[column].nunique()
    }, ignore_index=True)

summary.head()  # ìš”ì•½ ë°ì´í„°í”„ë ˆì„ì˜ ì²˜ìŒ ëª‡ í–‰ì„ í‘œì‹œ

  ë³€ìˆ˜ ì´ë¦„                                            ì…ë ¥ ê°’ ì˜ˆì‹œ ì…ë ¥ ë°©ë²• ê³ ìœ  ê°’ì˜ ê°œìˆ˜
0   ì‹œêµ°êµ¬  [ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™, ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ë…¼í˜„ë™, ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ëŒ€ì¹˜ë™, ...    ìˆ˜ë™      338
1    ë²ˆì§€                       [658-1, 652, 12-2, 141, 187]    ìˆ˜ë™     6457
2  ì•„íŒŒíŠ¸ëª…           [ê°œí¬6ì°¨ìš°ì„±, ê°œí¬ìš°ì„±3ì°¨, ê°œí¬ìì´, ê°œí¬ì£¼ê³µ1ë‹¨ì§€, ê°œí¬ì£¼ê³µ5ë‹¨ì§€]    ìˆ˜ë™     6445
3  ì „ìš©ë©´ì               [79.97, 54.98, 133.46, 161.0, 104.43]    ìë™    13366
4  ê³„ì•½ë…„ì›”           [201712, 201801, 201803, 201804, 201806]    ìë™      117

In [11]:
# Define the file path for the Excel file
csv_file_path = '../data/data_summary.xlsx'

# Writing the dataframe to an Excel file
summary.to_csv(csv_file_path, encoding = 'utf-8', index=False)

csv_file_path

'../data/data_summary.xlsx'

2. ë°ì´í„° í™•ì¸

In [14]:
# Train dataì™€ Test data shapeì€ ì•„ë˜ì™€ ê°™ìŠµë‹ˆë‹¤.
print('Train data shape : ', dt_train.shape, 'Test data shape : ', dt_test.shape)

Train data shape :  (1118822, 53) Test data shape :  (9272, 52)

In [15]:
dt_train.head()

,ì‹œêµ°êµ¬,ë²ˆì§€,ì•„íŒŒíŠ¸ëª…,ì „ìš©ë©´ì,ê³„ì•½ë…„ì›”,ê³„ì•½ì¼,ì¸µ,ê±´ì¶•ë…„ë„,ë„ë¡œëª…,í•´ì œì‚¬ìœ ë°œìƒì¼,...,ì•„íŒŒíŠ¸ í•œê°•ëŒ€êµ ê±°ë¦¬,ì „ì„¸ê°€ìœ¨,ì „ì²´ê³„ì•½ì¼ì,ê¸ˆë¦¬,ì‹¤ì§ˆgdp,ëª…ëª©gdp,í•™êµ°,ì¬ê°œë°œê°œìˆ˜,í•™ê¸‰ìˆ˜,ì—¬ë‹¹ë“í‘œìœ¨
0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,658-1,ê°œí¬6ì°¨ìš°ì„±,79.97,201712,8,3,1987,ì–¸ì£¼ë¡œ 3,NaN,...,2823.131513,55.88,20171208,1.5,2.9,"474,957.90",8,0,29.393939,35.36
1,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,658-1,ê°œí¬6ì°¨ìš°ì„±,79.97,201712,22,4,1987,ì–¸ì£¼ë¡œ 3,NaN,...,2823.131513,55.88,20171222,1.5,2.9,"474,957.90",8,0,29.393939,35.36
2,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,658-1,ê°œí¬6ì°¨ìš°ì„±,54.98,201712,28,5,1987,ì–¸ì£¼ë¡œ 3,NaN,...,2823.131513,55.88,20171228,1.5,2.9,"474,957.90",8,0,29.393939,35.36
3,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,658-1,ê°œí¬6ì°¨ìš°ì„±,79.97,201801,3,4,1987,ì–¸ì£¼ë¡œ 3,NaN,...,2823.131513,54.42,20180103,1.5,2.9,"449,357.80",8,0,30.781250,35.36
4,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,658-1,ê°œí¬6ì°¨ìš°ì„±,79.97,201801,8,2,1987,ì–¸ì£¼ë¡œ 3,NaN,...,2823.131513,54.42,20180108,1.5,2.9,"449,357.80",8,0,30.781250,35.36

3. ë°ì´í„° íƒ€ì… í™•ì¸

In [16]:
dt_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118822 entries, 0 to 1118821
Data columns (total 53 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   ì‹œêµ°êµ¬                1118822 non-null  object
 1   ë²ˆì§€                 1118822 non-null  object
 2   ì•„íŒŒíŠ¸ëª…               1116696 non-null  object
 3   ì „ìš©ë©´ì                1118822 non-null  float64
 4   ê³„ì•½ë…„ì›”               1118822 non-null  int64
 5   ê³„ì•½ì¼                1118822 non-null  int64
 6   ì¸µ                  1118822 non-null  int64
 7   ê±´ì¶•ë…„ë„               1118822 non-null  int64
 8   ë„ë¡œëª…                1118822 non-null  object
 9   í•´ì œì‚¬ìœ ë°œìƒì¼            5983 non-null     float64
 10  ê±°ë˜ìœ í˜•               32371 non-null    object
 11  ì¤‘ê°œì‚¬ì†Œì¬ì§€             29241 non-null    object
 12  k-ë‹¨ì§€ë¶„ë¥˜             248131 non-null   object
 13  k-ì„¸ëŒ€íƒ€ì…(ë¶„ì–‘í˜•íƒœ)       249259 non-null   object
 14  k-ë³µë„ìœ í˜•             248932 non-null   object
 15  k-ë‚œë°©ë°©ì‹             249259 non-null   object
 16  k-ì „ì²´ë™ìˆ˜             248192 non-null   float64
 17  k-ì „ì²´ì„¸ëŒ€ìˆ˜            249259 non-null   float64
 18  k-ê±´ì„¤ì‚¬              247764 non-null   object
 19  k-ì‹œí–‰ì‚¬              247568 non-null   object
 20  k-ì—°ë©´ì               249259 non-null   float64
 21  k-ì£¼ê±°ì „ìš©ë©´ì            249214 non-null   float64
 22  k-ì „ìš©ë©´ì ë³„ì„¸ëŒ€í˜„í™©60ì´í•˜    249214 non-null   float64
 23  k-ì „ìš©ë©´ì ë³„ì„¸ëŒ€í˜„í™©6085ì´í•˜  249214 non-null   float64
 24  k-85135ì´í•˜          249214 non-null   float64
 25  k-135ì´ˆê³¼            327 non-null      float64
 26  ì„¸ëŒ€ì „ê¸°ê³„ì•½ë°©ë²•           240075 non-null   object
 27  ê±´ì¶•ë©´ì                249108 non-null   float64
 28  ì£¼ì°¨ëŒ€ìˆ˜               249108 non-null   float64
 29  ê¸°íƒ€ì˜ë¬´ì„ëŒ€1234         249259 non-null   object
 30  ë‹¨ì§€ì‹ ì²­ì¼              249197 non-null   object
 31  target             1118822 non-null  int64
 32  êµ¬                  1118822 non-null  object
 33  ë™                  1118822 non-null  object
 34  ì „ì²´ì£¼ì†Œëª…              1118822 non-null  object
 35  ë™ì•„íŒŒíŠ¸ëª…              1116696 non-null  object
 36  ìœ ë™ì¸êµ¬               1118822 non-null  int64
 37  ì•„íŒŒíŠ¸ ì§€í•˜ì² ì—­ ê±°ë¦¬        1118822 non-null  float64
 38  1ì°¨ì—­ì„¸ê¶Œ              1118822 non-null  int64
 39  2ì°¨ì—­ì„¸ê¶Œ              1118822 non-null  int64
 40  ì•„íŒŒíŠ¸ ë²„ìŠ¤ì •ë¥˜ì¥ ê±°ë¦¬       1118822 non-null  float64
 41  ì¢Œí‘œX                1118822 non-null  float64
 42  ì¢Œí‘œY                1118822 non-null  float64
 43  ì•„íŒŒíŠ¸ í•œê°•ëŒ€êµ ê±°ë¦¬        1118822 non-null  float64
 44  ì „ì„¸ê°€ìœ¨               775315 non-null   float64
 45  ì „ì²´ê³„ì•½ì¼ì             1118822 non-null  int64
 46  ê¸ˆë¦¬                 1118822 non-null  float64
 47  ì‹¤ì§ˆgdp              1118822 non-null  float64
 48  ëª…ëª©gdp              1118822 non-null  object
 49  í•™êµ°                 1118822 non-null  int64
 50  ì¬ê°œë°œê°œìˆ˜              1118822 non-null  int64
 51  í•™ê¸‰ìˆ˜                1060055 non-null  float64
 52  ì—¬ë‹¹ë“í‘œìœ¨              1118822 non-null  float64
dtypes: float64(22), int64(11), object(20)
memory usage: 452.4+ MB

In [17]:
numeric_column_names = dt_train.select_dtypes(include='number').columns
numeric_column_names

Index(['ì „ìš©ë©´ì ', 'ê³„ì•½ë…„ì›”', 'ê³„ì•½ì¼', 'ì¸µ', 'ê±´ì¶•ë…„ë„', 'í•´ì œì‚¬ìœ ë°œìƒì¼', 'k-ì „ì²´ë™ìˆ˜', 'k-ì „ì²´ì„¸ëŒ€ìˆ˜',
       'k-ì—°ë©´ì ', 'k-ì£¼ê±°ì „ìš©ë©´ì ', 'k-ì „ìš©ë©´ì ë³„ì„¸ëŒ€í˜„í™©60ì´í•˜', 'k-ì „ìš©ë©´ì ë³„ì„¸ëŒ€í˜„í™©6085ì´í•˜',
       'k-85135ì´í•˜', 'k-135ì´ˆê³¼', 'ê±´ì¶•ë©´ì ', 'ì£¼ì°¨ëŒ€ìˆ˜', 'target', 'ìœ ë™ì¸êµ¬', 'ì•„íŒŒíŠ¸ ì§€í•˜ì² ì—­ ê±°ë¦¬',
       '1ì°¨ì—­ì„¸ê¶Œ', '2ì°¨ì—­ì„¸ê¶Œ', 'ì•„íŒŒíŠ¸ ë²„ìŠ¤ì •ë¥˜ì¥ ê±°ë¦¬', 'ì¢Œí‘œX', 'ì¢Œí‘œY', 'ì•„íŒŒíŠ¸ í•œê°•ëŒ€êµ ê±°ë¦¬', 'ì „ì„¸ê°€ìœ¨',
       'ì „ì²´ê³„ì•½ì¼ì', 'ê¸ˆë¦¬', 'ì‹¤ì§ˆgdp', 'í•™êµ°', 'ì¬ê°œë°œê°œìˆ˜', 'í•™ê¸‰ìˆ˜', 'ì—¬ë‹¹ë“í‘œìœ¨'],
      dtype='object')

4. ë°ì´í„° í†µê³„ê°’ í™•ì¸

- describe() í•¨ìˆ˜ ì‚¬ìš©í•´ì„œ ìˆ˜ì¹˜í˜• ë°ì´í„°ì˜ í†µê³„ê°’ í™•ì¸í•˜ê¸°

In [19]:
def str_to_int(string):
    if type(string) == str:
        string = string.replace(',', '')
        return int(string)
    else:
        return string

dt_train['target'] = dt_train['target'].apply(str_to_int)

columns = ['ì „ìš©ë©´ì ', 'ì¸µ', 'target']
dt_train[columns].describe()

               ì „ìš©ë©´ì              ì¸µ        target
count  1.118822e+06  1.118822e+06  1.118822e+06
mean   7.717475e+01  8.871968e+00  5.799153e+04
std    2.936423e+01  5.982584e+00  4.642602e+04
min    1.002000e+01 -4.000000e+00  3.500000e+02
25%    5.965000e+01  4.000000e+00  3.050000e+04
50%    8.188000e+01  8.000000e+00  4.480000e+04
75%    8.496000e+01  1.200000e+01  6.980000e+04
max    4.243200e+02  6.900000e+01  1.450000e+06

5. í…ŒìŠ¤íŠ¸ ë°ì´í„° í™•ì¸

In [20]:
dt_test.head(10)

,ì‹œêµ°êµ¬,ë²ˆì§€,ì•„íŒŒíŠ¸ëª…,ì „ìš©ë©´ì,ê³„ì•½ë…„ì›”,ê³„ì•½ì¼,ì¸µ,ê±´ì¶•ë…„ë„,ë„ë¡œëª…,í•´ì œì‚¬ìœ ë°œìƒì¼,...,ì•„íŒŒíŠ¸ í•œê°•ëŒ€êµ ê±°ë¦¬,ì „ì„¸ê°€ìœ¨,ì „ì²´ê³„ì•½ì¼ì,ê¸ˆë¦¬,ì‹¤ì§ˆgdp,ëª…ëª©gdp,í•™êµ°,ì¬ê°œë°œê°œìˆ˜,í•™ê¸‰ìˆ˜,ì—¬ë‹¹ë“í‘œìœ¨
0,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,658-1,ê°œí¬6ì°¨ìš°ì„±,79.9700,202307,26,5,1987,ì–¸ì£¼ë¡œ 3,NaN,...,2823.131513,41.11,20230726,3.5,1.4,"563,921.50",8,0,33.15625,67.01
1,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,651-1,ê°œí¬ë”ìƒµíŠ¸ë¦¬ì—,108.2017,202308,15,10,2021,ê°œí¬ë¡œ 311,NaN,...,2340.197569,41.30,20230815,3.5,1.4,"563,921.50",8,0,33.15625,67.01
2,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,652,ê°œí¬ìš°ì„±3ì°¨,161.0000,202307,28,15,1984,ê°œí¬ë¡œ 307,NaN,...,2375.597914,41.11,20230728,3.5,1.4,"563,921.50",8,0,33.15625,67.01
3,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,652,ê°œí¬ìš°ì„±3ì°¨,133.4600,202308,10,14,1984,ê°œí¬ë¡œ 307,NaN,...,2375.597914,41.30,20230810,3.5,1.4,"563,921.50",8,0,33.15625,67.01
4,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,652,ê°œí¬ìš°ì„±3ì°¨,104.4300,202308,18,6,1984,ê°œí¬ë¡œ 307,NaN,...,2375.597914,41.30,20230818,3.5,1.4,"563,921.50",8,0,33.15625,67.01
5,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,187,ê°œí¬ì£¼ê³µ5ë‹¨ì§€,74.2500,202307,28,8,1983,ì‚¼ì„±ë¡œ4ê¸¸ 17,NaN,...,2343.229208,41.11,20230728,3.5,1.4,"563,921.50",8,0,33.15625,67.01
6,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,185,ê°œí¬ì£¼ê³µ6ë‹¨ì§€,83.2100,202307,2,11,1983,ê°œí¬ë¡œ 516,NaN,...,2015.573919,41.11,20230702,3.5,1.4,"563,921.50",8,0,33.15625,67.01
7,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,185,ê°œí¬ì£¼ê³µ6ë‹¨ì§€,73.0200,202308,14,12,1983,ê°œí¬ë¡œ 516,NaN,...,2015.573919,41.30,20230814,3.5,1.4,"563,921.50",8,0,33.15625,67.01
8,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,185,ê°œí¬ì£¼ê³µ6ë‹¨ì§€,53.0600,202308,24,9,1983,ê°œí¬ë¡œ 516,NaN,...,2015.573919,41.30,20230824,3.5,1.4,"563,921.50",8,0,33.15625,67.01
9,ì„œìš¸íŠ¹ë³„ì‹œ ê°•ë‚¨êµ¬ ê°œí¬ë™,1280,ë˜ë¯¸ì•ˆë¸”ë ˆìŠ¤í‹°ì§€,126.9280,202307,3,26,2019,ì„ ë¦‰ë¡œ 8,NaN,...,2698.919257,41.11,20230703,3.5,1.4,"563,921.50",8,0,33.15625,67.01

6. ì œì¶œ ë°ì´í„° í™•ì¸

In [21]:
dt_sample_submission.head(10)

   target
0  179048
1   84820
2  248141
3  180991
4  295430
5  229921
6   92951
7  126950
8  240472
9  280156

7. íƒ€ê²Ÿì˜ í‰ê· ê°’ êµ¬í•˜ê¸°

In [22]:
def str_to_int(string):
    if type(string) == str:
        string = string.replace(',', '')
        return int(string)
    else:
        return string

dt_train['target'] = dt_train['target'].apply(str_to_int)

mean_apt_price = round(dt_train['target'].mean())
dt_sample_submission['target'] = mean_apt_price
dt_sample_submission.head()

   target
0   57992
1   57992
2   57992
3   57992
4   57992

8. ì œì¶œ íŒŒì¼ ìƒì„±

In [21]:
dt_sample_submission.to_csv('../data/submission_average.csv', index=False)